<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <input type="checkbox" name="flipper__checkbox" id="flipper__checkbox" class="flipper__checkbox" hidden />
        <div class="form__container">
            <!-- Front side -->
            <div class="form__login"></div>
            <!-- Back side -->
            <div class="form__signup"></div>
        </div>
    </div>
</body>
</html>