<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Free Mentors</title>
</head>
<body>
    <div id="content">
        <div class="navbar">
            <span class="slide">
                <a href="#" onclick="openSlideMenu()">
                    <i class="fas fa-bars"></i>
                </a>
                <h2>FREE MENTORS</h2>
            </span>
    
        </div>
        <div id="menu" class="nav">
            <a href="#" class="close" onclick="closeSlideMenu()">
                <i class="fas fa-times"></i>
            </a>
            <a href="../templates/home.html">Home</a>
            <a href="../templates/profile.html">My Profile</a>
            <a href="../templates/mentors.html">Mentors</a>
            <a href="../templates/index.html">Log Out</a>
        </div>
    
    </div>




    <footer>
        <p>&copy; 2019. Free Mentors.</p>
    </footer>
    
    <script>
        function openSlideMenu() {
            document.getElementById('menu').style.width = '250px';
            document.getElementById('content').style.marginLeft = '250px';

        }
        function closeSlideMenu() {
            document.getElementById('menu').style.width = '0';
            document.getElementById('content').style.marginLeft = '0';

        }
    </script>
</body>
</html>