<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/home.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js">
    </script>
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <div id="content">
        <div class="navbar">
        <span class="slide">
            <a href="#" onclick="openSlideMenu()">
                <i class="fas fa-bars"></i>
            </a>
            <h2>FREE MENTORS</h2>
        </span>
        
        </div>
        <div id="menu" class="nav">
            <a href="#" class="close" onclick="closeSlideMenu()">
                <i class="fas fa-times"></i>
            </a>
            <a href="../templates/home.html">Home</a>
            <a href="../templates/profile.html">My Profile</a>
            <a href="../templates/mentors.html">Mentors</a>
            <a href="../templates/index.html">Log Out</a>
        </div>
        
    </div>
<main class="wrapper">
    <section class="hero">
        <h1>Looking for a mentor?</h1>
        <article>
            <p>FREE MENTOR maintains the Mentoring Connector, the only national database of youth mentoring programs connecting volunteers
            to opportunities in their local communities.</p>
            <a href="../templates/mentors.html
            ">Browse Mentors</a>
        </article>
    </section>
    <section class="breweries" id="breweries">
        <h2>Featured upcoming sessions:</h2>
        <ul>
            <li>
                <figure>
                   
                    <img src="../assets/home.jpeg"
                        alt="Several hands holding beer glasses">
                    <figcaption>
                        <h3>Corner office</h3>
                    </figcaption>
                </figure>
                <p>
                    Nice girls don't get the corner office. A mentoring session by Lois P Frankel.
                </p>
                <p><code>BY: LOIS P FRANKEL</code></p>
                <a href="../templates/sessions.html">View Session</a>
            </li>
            <li>
                <figure>
                    
                    <img src="../assets/home2.jpeg"
                        alt="Several friends doing a toast">
                    <figcaption>
                        <h3>Braving the Wilderness</h3>
                    </figcaption>
                </figure>
                <p>
                    The Quest for True Belonging and the Courage to Stand Alone
                </p>
                <p><code>BY: BRENE BROWN</code></p>
                <a href="../templates/sessions.html">View session</a>
            </li>
            <li>
                <figure>
                   
                    <img src="../assets/home3.jpeg"
                        alt="Three different glasses of beer">
                    <figcaption>
                        <h3>confidence code</h3>
                    </figcaption>
                </figure>
                <p>
                    Confidence. We want it. We need it. But it can be maddeningly enigmatic and out of reach.
                </p>
                <p><code>BY: KATTIE KAY</code></p>
                <a href="../templates/sessions.html">View session</a>
            </li>
        </ul>
    </section>
</main>
<footer>
    <p>&copy; 2019. Free Mentors.</p>
</footer>
    

    <script>
        function openSlideMenu() {
            document.getElementById('menu').style.width = '250px';
            document.getElementById('content').style.marginLeft = '250px';

        }
         function closeSlideMenu() {
                document.getElementById('menu').style.width = '0';
                document.getElementById('content').style.marginLeft = '0';

            }
    </script>
</body>

</html>