<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Free Mentors</title>
</head>

<body>
    <div class="wrapper banner">
        <div class="topnav" id="myTopnav">
            <img src="../assets/logo.png" alt="logo">
            <a href="../templates/auth.html">SIGN UP</a>
            <a href="#news">CONTACT</a>
            <a href="#contact">ABOUT US</a>
            <a href="#about">WHY MENTORING</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <!-- <div id="slider">
    <figure>
        <img src="../assets/mentor.jpeg" alt="mentor1">
        <img src="../assets/mentor1.jpeg" alt="mentor2">
        <img src="../assets/mentor2.jpeg" alt="mentor3">
        <img src="../assets/mentor3.jpeg" alt="mentor4">
        <img src="../assets/mentor3.jpeg" alt="mentor4">


    </figure> -->
    
    </div>
    </div>
    <div class="wrapper">
        <div class="text-wrapper">
            <h2>OUR MISSION</h2>
            <h3>Our mission is to fuel the quantity and quality of mentoring relationships for Africa’s young people and
                to close the mentoring gap</h4>
        </div>
    </div>
    <div class="wrapper">
        <div class="text-wrapper">
            <h2>ABOUT US</h2>
            <h3>
                MENTOR maintains Mentoring networks, the only continental database of youth mentoring programs
                connecting volunteers to
                opportunities in their local communities.
            </h3>
        </div>
    </div>


    <div class="wrapper">
        <div class="text-wrapper">
            <h2>STAY CONNECTED</h2>
            <h3>You can stay up to date on new resources, opportunities to advocate, national initiatives, and news
                about youth mentoring by signing up for our newsletters to stay connected.</h3>
        </div>

    </div>

    <div class="wrapper">
        <div class="text-wrapper">
            <h2>COMMUNITY ENGAGEMENT</h2>
            <h3>Community engagement is an undeniably critical part of ensuring that mentoring isn’t left to chance.
                Whether you’re a public official, teacher, counselor, school administrator, or business leader, we need
                your help and involvement to close the mentoring gap.</h3>
        </div>

    </div>

    <div class="wrapper">
        <div class="text-wrapper">
            <h2>Subscribe</h2>
            <p><input type="text" placeholder="Enter Name"></p>
            <p><input type="text" placeholder="Enter Email"></p>
            <p><a href="#" id="form">Submit</a></p>
        </div>

    </div>

</body>

</html>