<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Free Mentors</title>
</head>
<body>
<div class="topnav" id="myTopnav">
    <img src="../assets/logo.png" alt="logo">
    <a href="#home">SIGN UP</a>
    <a href="#news">CONTACT</a>
    <a href="#contact">ABOUT US</a>
    <a href="#about">WHY MENTORING</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
</body>
</html>