<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/mentors.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js">
    </script>
</head>
<body>
    <div id="content">
        <div class="navbar">
            <span class="slide">
                <a href="#" onclick="openSlideMenu()">
                    <i class="fas fa-bars"></i>
                </a>
                <h2>FREE MENTORS</h2>
            </span>
    
        </div>
        <div id="menu" class="nav">
            <a href="#" class="close" onclick="closeSlideMenu()">
                <i class="fas fa-times"></i>
            </a>
            <a href="../templates/home.html">Home</a>
            <a href="../templates/profile.html">My Profile</a>
            <a href="../templates/mentors.html">Mentors</a>
            <a href="../templates/index.html">Log Out</a>
        </div>
    
    </div>


<div class="main">
    <ul class="cards">
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../assets/adichie.jpeg"></div>
                <div class="card_content">
                    <h2 class="card_title">MICHELLE OBAMA</h2>
                    <p class="card_text">Michelle LaVaughn Obama is an American lawyer, university administrator and writer, who was the first lady of the United
                    States from 2009 to 2017.</p>
                    <button class="btn card_btn">Read More</button>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../assets/adichie.jpeg"></div>
                <div class="card_content">
                    <h2 class="card_title">MICHELLE OBAMA</h2>
                    <p class="card_text">Michelle LaVaughn Obama is an American lawyer, university administrator and writer, who was the first lady of the United
                    States from 2009 to 2017.</p>
                    <button class="btn card_btn">Read More</button>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../assets/adichie.jpeg"></div>
                <div class="card_content">
                    <h2 class="card_title">MICHELLE OBAMA</h2>
                    <p class="card_text">Michelle LaVaughn Obama is an American lawyer, university administrator and writer, who was the first lady of the United
                    States from 2009 to 2017.</p>
                    <button class="btn card_btn">Read More</button>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../assets/adichie.jpeg"></div>
                <div class="card_content">
                    <h2 class="card_title">MICHELLE OBAMA</h2>
                    <p class="card_text">Michelle LaVaughn Obama is an American lawyer, university administrator and writer, who was the first lady of the United
                    States from 2009 to 2017.</p>
                    <button class="btn card_btn">Read More</button>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../assets/adichie.jpeg"></div>
                <div class="card_content">
                    <h2 class="card_title">MICHELLE OBAMA</h2>
                    <p class="card_text">Michelle LaVaughn Obama is an American lawyer, university administrator and writer, who was the first lady of the United
                    States from 2009 to 2017.</p>
                    <button class="btn card_btn">Read More</button>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../assets/adichie.jpeg"></div>
                <div class="card_content">
                    <h2 class="card_title">MICHELLE OBAMA</h2>
                    <p class="card_text">Michelle LaVaughn Obama is an American lawyer, university administrator and writer, who was the first lady of the United
                    States from 2009 to 2017.</p>
                    <button class="btn card_btn">Read More</button>
                </div>
            </div>
        </li>
    </ul>
</div>


   
   
   
   
   
    <footer>
        <p>&copy; 2019. Free Mentors.</p>
    </footer>
    
    
    <script>
        function openSlideMenu() {
            document.getElementById('menu').style.width = '250px';
            document.getElementById('content').style.marginLeft = '250px';

        }
        function closeSlideMenu() {
            document.getElementById('menu').style.width = '0';
            document.getElementById('content').style.marginLeft = '0';

        }
    </script>
</body>
</html>