<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/mentor.css">
    <link rel="stylesheet" href="font/css/font-awesome.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js">
    </script>
</head>

<body>
    <div id="content">
        <div class="navbar">
            <span class="slide">
                <a href="#" onclick="openSlideMenu()">
                    <i class="fas fa-bars"></i>
                </a>
                <h2>FREE MENTORS</h2>
            </span>

        </div>
        <div id="menu" class="nav">
            <a href="#" class="close" onclick="closeSlideMenu()">
                <i class="fas fa-times"></i>
            </a>
            <a href="../templates/home.html">Home</a>
            <a href="../templates/profile.html">My Profile</a>
            <a href="../templates/mentors.html">Mentors</a>
            <a href="../templates/index.html">Log Out</a>
        </div>

    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <article class="blog-card">
                    <div class="blog-card__background">
                        <div class="card__background--wrapper">
                            <div class="card__background--main"
                                style="background-image: url('https://www.gannett-cdn.com/presto/2018/12/11/PMJS/6d6048e3-56f9-46e4-b016-421d961dd0f7-MichelleObama_8x10.jpg?crop=2399,1350,x0,y149&width=3200&height=1680&fit=bounds');">
                                <div class="card__background--layer"></div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-card__head">
                        <span class="date__box">
                            <span class="date__day">Michelle</span>
                            <span class="date__month">Obama</span>
                        </span>
                    </div>
                    <div class="blog-card__info">
                        <h5>MICHELLE LAVAUGHN ROBINSON OBAMA</h5>

                        <p>Raised on the South Side of Chicago, Illinois, Obama is a graduate of Princeton University
                            and Harvard Law School. In
                            her early legal career, she worked at the law firm Sidley Austin, where she met Barack
                            Obama. She subsequently worked in
                            non-profits and as the associate dean of Student Services at the University of Chicago and
                            the vice president for
                            Community and External Affairs of the University of Chicago Medical Center. Michelle married
                            Barack in 1992 and they
                            have two daughters.</p>
                        <button class="btn btn--with-icon" onclick="window.location.href='../templates/createsession.html'">REQUEST SESSION</a>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <section class="detail-page">
        <div class="container mt-5">

        </div>
    </section>
    <section class="breweries" id="breweries">
        <h2>Michelle's upcoming sessions:</h2>
        <ul>
            <li>
                <figure>
                    <!-- Photo by Quentin Dr on Unsplash -->
                    <img src="../assets/home.jpeg" alt="Several hands holding beer glasses">
                    <figcaption>
                        <h3>Corner office</h3>
                    </figcaption>
                </figure>
                <p>
                    Nice girls don't get the corner office. A mentoring session by Lois P Frankel.
                </p>
                <p><code>BY: LOIS P FRANKEL</code></p>
                <button class="btn btn--with-icon" onclick="window.location.href='../templates/createsession.html'">VIEW SESSION</a>
            </li>
            <li>
                <figure>
                    <!-- Photo by Drew Farwell on Unsplash -->
                    <img src="../assets/home2.jpeg" alt="Several friends doing a toast">
                    <figcaption>
                        <h3>Braving the Wilderness</h3>
                    </figcaption>
                </figure>
                <p>
                    The Quest for True Belonging and the Courage to Stand Alone
                </p>
                <p><code>BY: BRENE BROWN</code></p>
                <button class="btn btn--with-icon" onclick="window.location.href='../templates/createsession.html'">VIEW SESSION</a>
            </li>
            <li>
                <figure>
                    <!-- Photo by Rawpixel on Unsplash -->
                    <img src="../assets/home3.jpeg" alt="Three different glasses of beer">
                    <figcaption>
                        <h3>confidence code</h3>
                    </figcaption>
                </figure>
                <p>
                    Nice girls don't get the corner office. A mentoring session by Lois P Frankel.
                </p>
                <p><code>BY: KATTIE KAY</code></p>
                <button class="btn btn--with-icon" onclick="window.location.href='../templates/createsession.html'">VIEW SESSION</a>
            </li>
        </ul>
    </section>

    <footer>
        <p>&copy; 2019. Free Mentors.</p>
    </footer>

    <script>
        function openSlideMenu() {
            document.getElementById('menu').style.width = '250px';
            document.getElementById('content').style.marginLeft = '250px';

        }
        function closeSlideMenu() {
            document.getElementById('menu').style.width = '0';
            document.getElementById('content').style.marginLeft = '0';

        }
    </script>
</body>

</html>